html{
    font-size: 62.5%;
}
body{
    margin: 0;
    color: #E1AD01;
    background-color: #111;
}
header{
    background-color: #333;
    padding: 20px 0;
    box-shadow: 0 5px 5px rgba(255, 255, 255, 0.2);
}
header h1{
    margin: 0;
}

main{
    max-width: 800px;
    margin: 30px auto;
}
.generate-area{
    margin: 0 auto;
    background-color: #333;
    height: 200px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 2rem;
    border-radius: 15px;
    box-shadow: 0 5px 5px rgba(255, 255, 255, 0.2);
}
#generated-quote{
    font-weight: bold;
}

.button{
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 5px 5px rgba(255, 255, 255, 0.2);
    transition: background-color 0.2s ease,filter 0.2s ease;
}
.button:hover{
    background-color: #E1AD01;
    filter: brightness(1.2);
}
.button:active{
    box-shadow: none;
    position: relative;
    top: 2px;
}
.button:disabled{
    background-color: #ccc;
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

footer{
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}